.idea
*.pyc
dev_testing/
*commodites.temp
.vscode/

papier2/config/courante.yaml
papier2/sauvegardes/*
!papier2/sauvegardes/*.py
papier2/ns3_experiments/runs/*

satviz/viz_output_*
satviz/viz_output/*
!satviz/viz_output/README.md